.main{
    text-align: center;
    margin-top:30px;
    padding: 35px;
    width:40%;
    background: rgba(225, 225, 225, 0.2);
    box-shadow: rgb(0, 0, 0,0.5);
    border-radius: 10px;
}
body{
    background:url("https://us.123rf.com/450wm/jojjik/jojjik1811/jojjik181100176/116546545-picturesque-morning-view-of-plitvice-national-park-colorful-spring-scene-of-green-forest-with-pure-w.jpg?ver=6");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@media only screen and (max-width: 770px) {
    .main{
        padding: 15px;
        width:100%;
        
    }
    body{
        background:url("https://img.freepik.com/free-vector/gradient-dark-dynamic-lines-background_23-2148995950.jpg")
    }
  }
  